# node modules
node_modules/

# build artifacts
*.apk
*.aab
*.ipa
*.app
build/
dist/
android/app/build/
ios/build/
web-build/

# IDEs and editors
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# logs
*.log

# env and secret files
.env
.env.*
*.key
*.keystore

# test and coverage
coverage/
*.test.js
*.spec.js
__tests__/
__mocks__/
